<header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->
                    <!-- logo -->
                    <div class="navbar-brand">
                        <a href="index.html">
                            <img src="images/downloaded/logo-one-color-edited.png" alt="" class="project-logo">
                        </a>
                    </div>
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html" style="font-weight: bold">Home</a>
                            </li>
                            <!--<li><`a href="about.html">About</a></li>-->
                            <li><a href="exercise.php" style="font-weight: bold">Exercises</a></li>
                            <li><a href="painandease.php" style="font-weight: bold">Pain and ease</a></li>
                            <li><a href="maps.php" style="font-weight: bold">Find places</a></li>
                            <li><a href="login.php" style="font-weight: bold">Planner</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>